<a href="https://colab.research.google.com/github/juniorPalomino25/Python/blob/main/DL13Pima_indians_diabetes_ModeloBase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Modelo Base de Clasificaci√≥n Binaria para el dataset pima-indians-diabetes.csv

### Importar las librerias necesarias

In [1]:
from pandas import read_csv
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold
from sklearn.preprocessing import LabelEncoder

### Cargar los datos

In [2]:
dataframe = read_csv("pima-indians-diabetes.csv",header=None)

In [3]:
dataframe.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

In [4]:
dataset = dataframe.values

In [5]:
X = dataset[:,0:8].astype(float)

In [6]:
Y = dataset[:,8]

### Define el modelo base

In [8]:
def modelo_base():
  # arquitectura del modelo
  modelo = Sequential()
  modelo.add(Dense(8,input_dim=8,activation='relu'))
  modelo.add(Dense(1,activation='sigmoid'))
  # compila el modelo
  modelo.compile(loss='binary_crossentropy',
  optimizer='adam',metrics=['accuracy'])
  return modelo

### Evalua el modelo con un dataset

In [9]:
estimador = KerasClassifier(build_fn=modelo_base,epochs=100,batch_size=5,verbose=0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: KerasClassifier is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead. See https://www.adriangb.com/scikeras/stable/migration.html for help migrating.
  """Entry point for launching an IPython kernel.

In [10]:
kfold = StratifiedKFold(n_splits=10,shuffle=True)

### Resultados

In [11]:
resultados = cross_val_score(estimador,X,Y,cv=kfold)

In [12]:
resultados

array([0.6883117 , 0.70129871, 0.79220778, 0.64935064, 0.77922076,
       0.6883117 , 0.72727275, 0.6883117 , 0.75      , 0.75      ])

In [13]:
print("Accuracy: %.2f%% (%.2f%%)" % (resultados.mean()*100,resultados.std()*100))

Accuracy: 72.14% (4.35%)