<a href="https://colab.research.google.com/github/juniorPalomino25/Python/blob/main/DL16_zA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Modelo de Regresión Base para el conjunto de Datos Boston**

### Importar las librerías

In [1]:
from pandas import read_csv
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.datasets import make_regression

### Cargar los datos

In [2]:
X, Y = make_regression(n_samples=2000, n_features=20, noise=0.1, random_state=101)

In [3]:
dataframe = read_csv("housing.csv",delim_whitespace=True,header=None)
dataframe.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [4]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       506 non-null    float64
 1   1       506 non-null    float64
 2   2       506 non-null    float64
 3   3       506 non-null    int64
 4   4       506 non-null    float64
 5   5       506 non-null    float64
 6   6       506 non-null    float64
 7   7       506 non-null    float64
 8   8       506 non-null    int64
 9   9       506 non-null    float64
 10  10      506 non-null    float64
 11  11      506 non-null    float64
 12  12      506 non-null    float64
 13  13      506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

In [5]:
datos = dataframe.values

### Dividir los datos de Entrada (X) y de Salida (Y)

In [6]:
X = datos[:,0:13]
Y = datos[:,13]

### Definir el modelo base

In [7]:
def modelo_base():
  #Crear el modelo
  modelo = Sequential()
  modelo.add(Dense(13, input_dim=13,activation='relu'))
  modelo.add(Dense(1))
  #Compila el modelo
  modelo.compile(loss='mean_squared_error',optimizer='adam')
  return modelo

### Evaluar el modelo

In [8]:
estimador = KerasRegressor(build_fn=modelo_base,epochs=100,batch_size=5,verbose=0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: KerasRegressor is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead. See https://www.adriangb.com/scikeras/stable/migration.html for help migrating.
  """Entry point for launching an IPython kernel.

In [9]:
kfold = KFold(n_splits=10)

### **Resultados**

In [10]:
resultados = cross_val_score(estimador, X , Y, cv=kfold)
resultados

array([-18.44275665, -17.20757103, -49.22370148, -71.15390778,
       -56.53486252, -65.371315  , -10.55094814, -90.22156525,
       -24.05875206, -25.90091705])

In [11]:
print("Modelo Base: %.2f (%.2f) Error cuadrado promedio (MSE)" %
(resultados.mean()*(-1),resultados.std()))

Modelo Base: 42.87 (25.92) Error cuadrado promedio (MSE)