<a href="https://colab.research.google.com/github/juniorPalomino25/Python/blob/main/DL16_zdModeloRegresionMasAncho.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Modelo de Regresión Base para el conjunto de Datos Boston Estandarizado y más ancho**

In [ ]:
from pandas import read_csv
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.datasets import make_regression
X, Y = make_regression(n_samples=2000, n_features=20, noise=0.1, random_state=101)

In [ ]:
dataframe = read_csv("housing.csv",delim_whitespace=True,header=None)

In [ ]:
dataframe.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [ ]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       506 non-null    float64
 1   1       506 non-null    float64
 2   2       506 non-null    float64
 3   3       506 non-null    int64
 4   4       506 non-null    float64
 5   5       506 non-null    float64
 6   6       506 non-null    float64
 7   7       506 non-null    float64
 8   8       506 non-null    int64
 9   9       506 non-null    float64
 10  10      506 non-null    float64
 11  11      506 non-null    float64
 12  12      506 non-null    float64
 13  13      506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

In [ ]:
datos = dataframe.values

In [ ]:
X = datos[:,0:13]
Y = datos[:,13]

In [ ]:
def modelo_base():
  #Crear el modelo
  modelo = Sequential()
  modelo.add(Dense(13, input_dim=13,activation='relu'))
  modelo.add(Dense(1))
  #Compila el modelo
  modelo.compile(loss='mean_squared_error',optimizer='adam')
  return modelo

In [ ]:
estimadores = []

In [ ]:
estimadores.append(('estandarización',StandardScaler()))

In [ ]:
estimadores.append(('red',KerasRegressor(build_fn=modelo_base,
epochs=100,batch_size=5,verbose=0)))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: KerasRegressor is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead. See https://www.adriangb.com/scikeras/stable/migration.html for help migrating.

In [ ]:
canal = Pipeline(estimadores)

In [ ]:
kfold = KFold(n_splits=10)

In [ ]:
resultados = cross_val_score(canal, X , Y, cv=kfold)

In [ ]:
resultados

array([ -9.65621567,  -7.70569086, -19.3249073 , -28.5322361 ,
       -11.20128536, -10.05958939,  -4.11032772, -93.81615448,
       -20.34837341, -23.18523598])

In [ ]:
print("Modelo Base: %.2f (%.2f) Error cuadrado promedio (MSE)" %
(resultados.mean()*(-1),resultados.std()))

Modelo Base: 22.79 (24.78) Error cuadrado promedio (MSE)