<a href="https://colab.research.google.com/github/juniorPalomino25/Python/blob/main/EjemploModeloRegresionBostonDataSet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Ejemplo de modelo de regresion con redes neuronales utilizando libreria de keras para el conjunto de datos Boston#

Explicaci√≥n de los atributos en [Boston Dataset Kaggle: ](https://www.kaggle.com/c/boston-housing)

Nota Tiene 14 columnas: 13 son de entrada y 1 de salida

#Importar librerias#

In [38]:
import numpy as np
from pandas import read_csv #dataset housing
from keras.models import Sequential  #crear un modelo secuencial y agregar capas donfiguradas
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
#from sklearn.preprocessing import StandardScaler

#Cargar la Data#

In [39]:
dataframe = read_csv('housing.csv',delim_whitespace = True, header=None)

In [40]:
dataframe.head() #muestra las 5 primeros registros

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [41]:
dataframe.tail() #muestra los 5 ultimos registros

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

In [42]:
# Mostrar estadisticas descriptivas
dataframe.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [43]:
# Obtener una matriz de un dataframe para Keras
datos = dataframe.values

In [44]:
datos

array([[6.3200e-03, 1.8000e+01, 2.3100e+00, ..., 3.9690e+02, 4.9800e+00,
        2.4000e+01],
       [2.7310e-02, 0.0000e+00, 7.0700e+00, ..., 3.9690e+02, 9.1400e+00,
        2.1600e+01],
       [2.7290e-02, 0.0000e+00, 7.0700e+00, ..., 3.9283e+02, 4.0300e+00,
        3.4700e+01],
       ...,
       [6.0760e-02, 0.0000e+00, 1.1930e+01, ..., 3.9690e+02, 5.6400e+00,
        2.3900e+01],
       [1.0959e-01, 0.0000e+00, 1.1930e+01, ..., 3.9345e+02, 6.4800e+00,
        2.2000e+01],
       [4.7410e-02, 0.0000e+00, 1.1930e+01, ..., 3.9690e+02, 7.8800e+00,
        1.1900e+01]])

In [45]:
# muestra la cantidad de filas y columnas
datos.shape

(506, 14)

####Dividir los conjuntos de datos como entradas(X) y salidas(Y)

In [46]:
X = datos[:,0:13]

In [47]:
X.shape

(506, 13)

In [48]:
Y = datos[:,13]

In [49]:
Y.shape

(506,)

####Definir el modelo base

In [50]:
def modelo_base():
  # crear el modelo
  modelo = Sequential()
  modelo.add(Dense(15,input_dim=13,activation='relu')) 
  modelo.add(Dense(1)) #taza

  # compilar el modelo
  modelo.compile(loss='mean_squared_error',optimizer='adam')
  return modelo

###Evaluar el modelo

In [51]:
semilla = 100

In [52]:
np.random.seed(semilla)

In [53]:
# evaluar el modelo
estimador = KerasRegressor(build_fn= modelo_base, epochs = 100, 
                           batch_size = 10,verbose=0)
kfold = KFold(n_splits=10)
resultados = cross_val_score(estimador, X,Y,cv=kfold)
print("Modelo Base, MSE promedio: %.2f, desviacion estandar MSE :%.2f "%(resultados.mean(), resultados.std()))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: KerasRegressor is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead. See https://www.adriangb.com/scikeras/stable/migration.html for help migrating.
  This is separate from the ipykernel package so we can avoid doing imports until

Modelo Base, MSE promedio: -44.62, desviacion estandar MSE :26.44